.vote-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.vote-header {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.vote-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.vote-toggle-buttons {
  display: flex;
  gap: 10px;
}

.vote-toggle-button {
  padding: 8px 16px;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  background-color: #F4cccc;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.vote-toggle-button.active {
  background-color: #F4cccc;
}

.vote-toggle-button:hover {
  background-color: #F4cccc;
}

.vote-sort-buttons {
  display: flex;
  gap: 8px;
}

.sort-button {
  padding: 6px 12px;
  font-size: 0.9em;
  background-color: #6c757d; /* 회색으로 설정 */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-button.active {
  background-color: #5a6268; /* 더 어두운 회색 */
}

.sort-button:hover {
  background-color: #5a6268;
}

.vote-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.vote-item-link {
  text-decoration: none;
  color: inherit;
}

.vote-item {
  position: relative;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.vote-item:hover {
  transform: translateY(-5px);
}

.vote-item-title {
  font-size: 1.1em;
  margin-top: 1rem;
  color: #333;
}

.vote-time-remaining {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9em;
  color: #888;
}

.vote-expired {
  font-size: 0.9em;
  color: #888;
}

.new-vote-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #d9d2e9;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.new-vote-button:hover {
  background-color: #d9d2e9;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 10px;
  font-size: 1em;
}
