.my-answers {
  margin-top: 20px;
}

.my-answers__item {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
}

.my-answers__image-container {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.my-answers__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.my-answers__text-container {
  flex: 1;
}

.my-answers__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.my-answers__content {
  font-size: 16px;
  margin-top: 5px;
  white-space: pre-wrap; /* 개행 유지 */
}

.my-answers__no-answer {
  font-size: 16px;
  color: #666;
}

.my-answers__date {
  font-size: 14px;
  color: #999;
}
