.community-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e2b3b3;
}

.post-item:last-child {
  border-bottom: none;
}

.post-item:hover {
  background-color: #f1cfcf;
}

.create-post-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #000000;
  background-color: #ffe16b;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.create-post-button:hover {
  background-color: #ffe16b;
  ;
}

.comment-form {
  margin-top: 20px;
}

.comment-form input {
  width: calc(100% - 110px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.comment-form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}

.delete-post-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-post-button:hover {
  background-color: #d7d7d7;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  color: black;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #d7d7d7;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}
