.create-post-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-post-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-post-form label {
  font-size: 18px;  /* 폰트 크기 조정 */
  color: #333;
  margin-bottom: 5px;
}

.create-post-form input,
.create-post-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;  /* 폰트 크기 조정 */
}

.create-post-form textarea {
  height: 200px; /* 세로 길이를 늘리기 위해 추가한 속성 */
}

.create-post-form button {
  padding: 15px;
  background-color: #ffe16b;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;  /* 폰트 크기 조정 */
  font-weight: bold;
  transition: background-color 0.3s;
}

.create-post-form button:hover {
  background-color: #ffe16b;
}
