.nearby-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f7f9fc;
  max-width: 1200px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  width:5rem;
}

.search-button:hover {
  background-color: #3367d6;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.map-container {
  flex: 1;
  height: 500px;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-results-container {
  flex: 1;
}

.search-results-container h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.results-list {
  list-style-type: none;
  padding: 0;
}

.result-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.2s;
  align-items: center;
}

.result-item:hover {
  background-color: #f1f1f1;
}

.result-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.result-text {
  flex: 1;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.star {
  font-size: 18px;
  color: #4285f4;
  margin-right: 2px;
}

.info-window {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 5px;
  white-space: nowrap;
  border: none;
}
